<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  

    <property name="connection.url">jdbc:mysql://server03.poligon.corp:3306/trade</property>
    <property name="connection.username">trade</property>
    <property name="connection.password">GuOjBoslen</property>

    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  
    <property name="show_sql">true</property>
  
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
  
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.release_mode">auto</property>
    <property name="connection.pool_size">10</property>
    <property name="current_session_context_class">thread</property>
 
    <mapping class="entities.Analogs" />
    <mapping class="entities.Categories" />
    <mapping class="entities.Currencies" />
    <mapping class="entities.FileTypes" />
    <mapping class="entities.Files" />
    <mapping class="entities.Functions" />
    <mapping class="entities.ImportFields" />    
    <mapping class="entities.ProductKinds" />
    <mapping class="entities.Products" />
    <mapping class="entities.Properties" />
    <mapping class="entities.PropertyTypes" />
    <mapping class="entities.PropertyValues" />
    <mapping class="entities.Quantity" />
    <mapping class="entities.Series" />
    <mapping class="entities.Settings" />    
    <mapping class="entities.Vendors" />
    <mapping class="entities.KindsTypes" />
    <mapping class="entities.ProductsFunctions" />
    <mapping class="entities.Measures" />
    <mapping class="entities.ProductsAccessories" />
    <mapping class="entities.NewsItems" />
    <mapping class="entities.Articles" />
    <mapping class="entities.StaticContents" />
 
 <!-- <mapping resource="com/mkyong/user/DBUser.hbm.xml"></mapping> -->
</session-factory>
</hibernate-configuration>